.filter{
    border: 3px solid #ce9097;
    border-radius: 10px;
    background-color: rgba(206, 144, 151, 0.5);
    padding: 7px 12px;
    width: fit-content;
    cursor: pointer;
    opacity: 0.55;
    margin-right: 7px;
    margin-bottom: 7px;
}
.filter:hover{
    opacity: 1;
}