.sidebar{
    width: 16.8vw;
    height: 80vh;
    padding: 15px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: #8dc53e;
    margin-left: 1.7%;
    position: fixed;
    margin-top: -1%;
    color: black;
}

.sidebar h3{
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 1.5vw;
    opacity: 0.7;
}

.sidebar .flex{
    display: flex;
    flex-wrap: wrap;
}