@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
  font-family: poster;
  src: url(../public/fonts/Poster.ttf);
}

*{
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #060002 /*#8dc53e*/;
  overflow-x: hidden;
  color: #ffffff;
}

input,button{
  border: none;
  outline: none;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #060002; 
}
::-webkit-scrollbar-thumb {
  background: #8dc53e; 
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(141, 197, 62, 0.85); 
}