@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
  font-family: poster;
  src: url(../public/fonts/Poster.ttf);
}

*{
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #060002 /*#8dc53e*/;
  overflow-x: hidden;
  color: #ffffff;
}

input,button{
  border: none;
  outline: none;
}


#snackbar{
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 5%;
  margin: auto;
  width: 30vw;
  background-color: #8dc53e;
  padding: 15px;
  text-align: center;
  z-index: 1;
  font-size: 1.35vw;
  color: #060002;
}
#snackbar.visible{
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
  from{bottom: 0%; opacity: 0;}
  to {bottom: 5%; opacity: 1;}
}
@keyframes fadeout {
  from {bottom: 5%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #060002; 
}
::-webkit-scrollbar-thumb {
  background: #8dc53e; 
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(141, 197, 62, 0.85); 
}